.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.graph {
  border-radius: 50%;
  width: 300px;
  height: 300px;
  background-image: conic-gradient(
    #f11a50 0,
    #f11a50 65%,
    #7cef00 65%,
    #7cef00 92%,
    #00dbd9 92%,
    #00dbd9 100%
  );

  -webkit-mask-image: radial-gradient(
    transparent 0%,
    transparent 50px,
    white 50px,
    white
  );

  mask-image: radial-gradient(
    transparent 0%,
    transparent 50px,
    white 50px,
    white
  );
}
