/* IE11対応のため、CSS変数は使っていません */

body {
  background-color: #ffee33;
  overflow: hidden;
}

.line-container {
  position: absolute;

  width: 100vw;
  height: 100vw;

  left: calc(50% - 50vw);
  top: calc(50% - 50vw);

  /* ランダムな太さの先を重ねる */
  background-image: repeating-conic-gradient(
      transparent 0,
      transparent 13deg,
      #ffab3c 13deg,
      #ffab3c 16deg
    ),
    repeating-conic-gradient(
      transparent 0,
      transparent 20deg,
      #ffab3c 20deg,
      #ffab3c 23deg
    ),
    repeating-conic-gradient(
      transparent 0,
      transparent 5deg,
      #ffab3c 5deg,
      #ffab3c 8deg
    ),
    repeating-conic-gradient(
      transparent 0,
      transparent 40deg,
      #ffab3c 40deg,
      #ffab3c 44deg
    ),
    repeating-conic-gradient(
      transparent 0,
      transparent 10deg,
      #ffab3c 10deg,
      #ffab3c 13deg
    );
}

/* 中心のぼかした円 */
.line-container:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;

  background-image: radial-gradient(
    #ffee33 0%,
    #ffee33 12%,
    transparent 30%,
    transparent
  );
}

/* mask-imageに対応している場合のスタイル */
@supports (mask-image: radial-gradient(white, white)) or
  (-webkit-mask-image: radial-gradient(white, white)) {
  .line-container {
    /* 中心をくり抜く */
    mask-image: radial-gradient(
      transparent 0%,
      transparent 12%,
      white 30%,
      white
    );
  }

  .line-container:before {
    display: none;
  }
}

/* 縦持ちのときの対応 */
@media (orientation: portrait) {
  .line-container {
    width: 100vh;
    height: 100vh;
    left: calc(50% - 50vh);
    top: calc(50% - 50vh);
  }
}
