/* IE11対応のため、CSS変数は使っていません */

html,
body {
  background-color: #ffee33;
}

body {
  overflow: hidden;
}

.line-container {
  position: absolute;

  width: 100vw;
  height: 100vw;

  left: calc(50% - 50vw);
  top: calc(50% - 50vw);

  /* ランダムな太さの先を重ねる */
  background-image: repeating-conic-gradient(
      transparent 0,
      transparent 13deg,
      #ffab3c 13deg,
      #ffab3c 16deg
    ),
    repeating-conic-gradient(
      transparent 0,
      transparent 20deg,
      #ffab3c 20deg,
      #ffab3c 23deg
    ),
    repeating-conic-gradient(
      transparent 0,
      transparent 5deg,
      #ffab3c 5deg,
      #ffab3c 8deg
    ),
    repeating-conic-gradient(
      transparent 0,
      transparent 40deg,
      #ffab3c 40deg,
      #ffab3c 44deg
    ),
    repeating-conic-gradient(
      transparent 0,
      transparent 10deg,
      #ffab3c 10deg,
      #ffab3c 13deg
    );

  /* 中心をくり抜く */
  -webkit-mask-image: radial-gradient(
    transparent 0%,
    transparent 12%,
    white 30%,
    white
  );

  mask-image: radial-gradient(
    transparent 0%,
    transparent 12%,
    white 30%,
    white
  );
}

@media (orientation: portrait) {
  .line-container {
    width: 100vh;
    height: 100vh;
    left: calc(50% - 50vh);
    top: calc(50% - 50vh);
  }
}
